[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Vaychik
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vaychik
	label-Verified = -1..+1 group user/Vaychik
	push = group user/Vaychik
	read = group user/Vaychik
	rebase = group user/Vaychik
	removeReviewer = group user/Vaychik
	submit = group user/Vaychik
[access "refs/heads/*"]
	create = group user/Vaychik
	push = +force group user/Vaychik
	pushMerge = group user/Vaychik
	read = group user/Vaychik
[access "refs/tags/*"]
	push = group user/Vaychik
	push = +force group user/Vaychik
